{% extends 'collections.twig' %}

{% block title %}О компании{% endblock %}
{% block keywords %}p-lacebo, Даниил Пискарев, Команда P-lacebo{% endblock %}
{% block description %}Команда P-lacebo{% endblock %}

{% block content %}
    <div class="title"><span class="t001" style="text-align: left"><i>Наша команда:</i></span></div>
    {{ parent() }}
{% endblock %}