{% extends 'base.twig' %}

{% block title %}Аксессуары{% endblock %}
{% block keywords %}p-lacebo, Даниил Пискарев, Аксессуары P-lacebo{% endblock %}
{% block description %}Аксессуары P-lacebo{% endblock %}

{% block content %}
    <section class="content" style="margin-top: 7vw; text-align: center">
        <div class="flex-block">
            {% for block in blocks %}
                {% include 'block.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}