{% extends 'base.twig' %}

{% block content %}
    <div class="title"><span class="t001" ><i>{{ collection.title }}</i></span></div>
    <div class="description"><span class="t0001">{{ collection.description | nl2br }}</span></div>

    {% if collection.partner_name != '' %}
        <section class="content" style="margin-bottom:20px; text-align: center">
            <div class="flex-block">
                {% set block = {'name': collection.partner_job, 'url': collection.partner_url,
                    'img': collection.partner_img, 'description': collection.partner_name} %}
                {% include 'block.twig' %}
            </div>
        </section>
    {% endif %}

    <section class="content" style=" text-align: center">
        <div class="flex-block">
            {% for item in collection.items %}
                {% set id = loop.index %}
                {% set title = item.title %}
                {% set slides = item.slides %}
                {% set img = item.img %}
                {% include 'fancybox-slides.twig' %}
            {% endfor %}
        </div>
    </section>

    {% if collection.partner_bottom_name != '' %}
        <section class="content" style="margin-bottom:20px; text-align: center">
            <div class="flex-block">
                {% set block = {'name': collection.partner_bottom_job, 'url': collection.partner_bottom_url,
                'img': collection.partner_bottom_img, 'description': collection.partner_bottom_name} %}
                {% include 'block.twig' %}
            </div>
        </section>
    {% endif %}
{% endblock %}