{% extends 'base.twig' %}

{% block content %}
    <section class="content" style="margin-top: 7vw; text-align: center">
        <div class="flex-block">
            {% for block in blocks %}
                {% include 'block.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}