{% extends 'base.twig' %}

{% block content %}
    <section class="content" style="margin-top: 13vw; text-align: center">
        <div class="flex-block">
            {% for block in blocks %}
                <div class="block">
                    <div class="flex-parts">
                        <a data-fancybox="gallery{{ loop.index }}"
                           data-caption=''
                           href="{{ block.img }}">
                            <img class="img1" src="{{ block.img }}">
                        </a>
                        <div class="names-bottom">
                            <span>{{ block.name | nl2br }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}