{% extends 'base.twig' %}

{% block content %}
    <section class="content" style="margin-top: 13vw; text-align: center">
        <div class="flex-block">
            {% for block in blocks %}
                {% set id = loop.index %}
                {% set img = block.img %}
                {% set title = block.name %}
                {% set slides = [block] %}
                {% include 'fancybox-slides.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}