<section class="footer" style="margin-top: 7vw">
    <div style="text-align: center"> <span >P-lacebo © 2017-2018. All rights reserved.</span></div>
    <div style="text-align: center"><span style="text-align: center">support@p-lacebo.com</span></div>
</section>