

<section class="header">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.bootstrap-3.ru/examples/starter-template/#">Project name</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://www.bootstrap-3.ru/examples/starter-template/#">Home</a></li>
                    <li><a href="http://www.bootstrap-3.ru/examples/starter-template/#about">About</a></li>
                    <li><a href="http://www.bootstrap-3.ru/examples/starter-template/#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</section>

