{% extends 'collections.twig' %}

{% block content %}
    <div class="title"> <span class="t001" style="text-align: left"><i>Наши партнеры:</i></span></div>
    {{ parent() }}
    <div class="description">
        <span class="t0001" >
            Компания P-lacebo всегда открыта для деловых предложений и плодотворного сотрудничества. Ждем ваши идеи на e-mail!
        </span>
    </div>
{% endblock %}