<section class="content" style="margin-top: 7vw; text-align: center; height: 400px">
    <ul id="slides">
        {% for slide in slides %}
            <li class="slide"><img class="img1" src="{{ slide }}"> </li>
        {% endfor %}
    </ul>
</section>