.img1{
    width: 40vh;
    text-align: center;
}

.description{
    margin: 5% 0 0 0;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font: 3vh "Georgia";
    line-height: 41px;
    color:#000000;
}

.title{
    margin: 15% 0 0 0;
    text-align: center;
}

.flex-block{
    display: inline-flex;
    justify-content: center;
    max-width: max-content;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.flex-parts{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    flex-direction: column;
    align-content: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.link{
    background: #00CC00 ;
    cursor:pointer
}
