.img1{
    width: 40vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.description{
    margin: 5% 0 0 0;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font: 3vh "Georgia";
    line-height: 41px;
    color:#000000;
}

.title{
    margin: 15% 0 0 0;
    text-align: center;
}


