.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
}
.navbar-fixed-top {
    top: 0;
    z-index: 1030;
    color:white;

}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    margin-right: 60px;
    text-align: center;
}

.navbar-header{
    float: inherit;
}

.navbar {
    position: center;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.top-cover {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-top: 15px;
}

.top-name {
    display: block;
    width: 100px;
    max-height: 40px;
    overflow: hidden;
    text-align: center;
}

.top-cover,
.top-name {
    margin-left: auto;
    margin-right: auto;
}
.menu{
    font: 100% "Georgia";
    color: white;
}
.menu:hover{
    color:grey;
}